body
{
  background-color: #004b91;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.modalLink
{
  text-decoration: none;
  color: black;
}

a.title
{
    color: white;
}

.title
{
  text-decoration: none;
}

.title1
{
  color:#15008f;
  text-align: center;
  font-size: 50pt;
  margin-top: 1em;
  margin-bottom: 1em;
}

.textAPropos
{
  text-align: center;
}
.circle
{
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: white;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
  margin-top: -100px;
}

.tipDrop
{
  position: absolute;
  width: 235px;
  left: 50%;
  top: 72%;
  margin-left: -115px; /* Cette valeur doit être la moitié négative de la valeur du width */
  margin-top: -100px;
  border: 1px solid white;
  background-color: #003566;
  border-radius: 30px;
  text-align: center;
  padding-top:10px;
  font-size: 12pt;
}

.bars {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
